.logotypes-subpage{
  .image-wrapper-boxes {
    padding: 100px 0;
    border-bottom: 1px solid $black;
    .inner-wrapper {
      .box-image {
        height: 800px;
        width: 100%;
        background: $darkGray;
        margin-bottom: 25px;
        img {
        }
        .last-margin {
          margin-bottom: 0px;
        }
      }
    }
  }
  .project-wrapper{
    padding-bottom: 100px;
  }
}
