.logotypes-section-wrapper {
  position: relative;
  &:hover {
    color: $white;
    background: $primaryColor;
  }
  .image {
    height: 900px;
    width: 100%;
    img {
      height: 900px;
      width: 100%;
      background: $lightGray;
      &:hover {
        background: $primaryColor;
      }
    }
    h2 {
      position: absolute;
      left: 50%;
      top: 40%;
      z-index: 5;
      transform: translate(-50%, -50%);
      &:hover {
        background: $primaryColor;
      }
    }
    .button-wrapper {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, 50%);
    }
  }
}
