.title-number-one-subpage-wrapper {
  .image-wrapper-boxes {
    .inner-wrapper {
      .box-image {
        height: 800px;
        width: 100%;
        background: $darkGray;
        margin-bottom: 10px;
        img {
        }
      }
      .last-margin {
        margin-bottom: 0;
        padding: 0;
      }
      .header-description-text {
        padding: 100px 0 50px;
      }
    }
  }
  .title-number-one-mini-picture-wrapper {
    .inner-wrapper {
      .headings {
        padding-bottom: 100px;
      }
      .mini-picture-wrapper-boxes {
        width: 100%;
        margin-bottom: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .mini-picture-box {
          height: 530px;
          width: 530px;
          background: $darkGray;
          img {
          }
        }
      }
    }
  }
  .more-project-wrapper{
   border-bottom: 1px solid $black;
  }
  .project-wrapper{
   padding-bottom:150px;
  }
}
