.more-project {
  padding: 50px 0 150px;
  .inner-wrapper {
    .wrapper-box {
      .heading {
        margin-bottom: 20px;
        .medium-description {
          span {
            font-weight: 400;
          }
        }
      }
    }
  }
}
@media (max-width: 1023px) {
  .more-project {
    padding: 75px 0;
    .inner-wrapper {
      .wrapper-box {
        width: 100%;
        display: flex;
        align-items: center;
        flex-flow:column;
        a {
          .button-box-wrapper {
            padding:25px 0;
          }
        }
      }
    }
  }
}
