.image-wrapper {
  padding-bottom: 50px;
  .inner-wrapper {
    display: flex;
    flex-wrap: wrap;
    .headings {
      padding: 100px 0 50px;
    }
    .boxes-wrapper {
      display: flex;
      justify-content: space-between;
      width: 100%;
      .image-box {
        position: relative;
        .social-media-box {
          position: absolute;
          right: 5%;
          top: 5%;
          z-index: 5;
          .last-icon-social-media {
            margin-left: 67px;
          }
        }
        .img {
          height: 600px;
          width: 800px;
          background: $darkGray;
          border: $white;
        }
      }
      .information {
        display: flex;
        flex-flow: column;
        justify-content: flex-end;
        align-items: flex-end;
        position: relative;
        h3 {
          margin-bottom: 40px;
          text-align: right;
          span {
            margin-bottom: 5px;
            display: block;
          }
          .last-margin {
            margin-bottom: 0;
          }
        }
        p {
          margin-bottom: 60px;
          text-align: right;
          span {
            display: block;
          }
        }
      }
    }
  }
}
@media (min-width: 1800px) {
  .main-page-yucky{
    .image-wrapper {
      padding-bottom: 75px;
      &:nth-child(4) {
        padding-bottom: 50px;
      }
      .inner-wrapper {
        .headings {
        }
        .boxes-wrapper {
          .image-box {
            .img {
              height: 800px;
              width: 1000px;
            }
          }
          
        }
      }
    }
  }
}
@media (max-width: 1799px) {
  .main-page-yucky {
    .image-wrapper {
      padding-bottom: 75px;
      &:nth-child(4) {
        padding-bottom: 50px;
      }
      .inner-wrapper {
        .headings {
        }
        .boxes-wrapper {
          .image-box {
            .img {
              height: 700px;
              width: 900px;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 1700px) {
  .main-page-yucky {
    .image-wrapper {
      .inner-wrapper {
        .headings {
        }
        .boxes-wrapper {
          .image-box {
            .img {
              height: 650px;
              width: 850px;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 1600px) {
  .main-page-yucky {
    .image-wrapper {
      .inner-wrapper {
        .headings {
        }
        .boxes-wrapper {
          .image-box {
            .img {
              height: 600px;
              width: 800px;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 1500px) {
  .main-page-yucky {
    .image-wrapper {
      padding-bottom: 50px;
      .inner-wrapper {
        .headings {
        }
        .boxes-wrapper {
          .image-box {
            .img {
              height: 550px;
              width: 750px;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 1400px) {
  .main-page-yucky {
    .image-wrapper {
      .inner-wrapper {
        .headings {
        }
        .boxes-wrapper {
          .image-box {
            .social-media-box {
              .last-icon-social-media {
                margin-left: 55px;
              }
            }
            .img {
              height: 500px;
              width: 700px;
            }
          }
          .information {
            h3 {
              margin-bottom: 20px;
            }
            p {
              margin-bottom: 30px;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 1320px) {
  .main-page-yucky {
    .image-wrapper {
      &:nth-child(4) {
        padding-bottom: 0;
      }
      .inner-wrapper {
        .headings {
          width: 100%;
          .main-largest-heading {
            text-align: center;
          }
        }
        .boxes-wrapper {
          display: block;
          .image-box {
            .img {
              width: 100%;
              height: 600px;
              position: relative;
              .social-media-box {
                position: absolute;
                right: 5%;
                top: 5%;
                z-index: 5;
                .last-icon-social-media {
                  margin-left: 67px;
                }
              }
            }
          }
          .information {
            width: 100%;
            display: flex;
            align-items: center;
            h3 {
              margin-top: 25px;
              span {
                display: inline;
              }
            }
            p {
              span {
                display: inline;
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width: 1024px) {
  .main-page-yucky {
    .information {
      p {
        display: flex;
        align-items: center;
        flex-flow: column;
        span {
          display: block;
        }
      }
    }
  }
}
@media (max-width: 560px) {
  .main-page-yucky {
    .image-wrapper {
      .inner-wrapper {
        .headings {
          display: flex;
          justify-content: center;
          .main-largest-heading {
            font-size: 80px;
          }
        }
        .boxes-wrapper{
          .information {
            width: 100%;
            display: flex;
            align-items: center;
            h3 {
              margin-top: 25px;
              display: flex;
              align-items: center;
              flex-flow: column;
              span {
                display: block;
              }
            }
          }
        }
      }
    }
  }
}
