.main-heading{
 font-size:140px;
 font-weight: 700;
 color:#24a89e;
 font-family:'';
 src:url();
}
.main-largest-heading{
 font-size:100px;
 font-weight: 700;
 color:#000;
 font-family:'';
 src:url();
}
.medium-heading{
 font-size:30px;
 font-weight: 700;
 color:#000;
 font-family:'';
 src:url();
}
.small-heading{
 font-size:18px;
 font-weight: 400;
 color:#000;
 font-family:'';
 src:url();
}
.main-description{
 font-size:30px;
 font-weight: 300;
 color:#000;
 font-family:'';
 src:url();
}
.medium-description{
 font-size:18px;
 font-weight: 300;
 color:#000;
 font-family:'';
 src:url();
}
.main-largest-description{
 font-size:30px;
 font-weight: 400;
 color:#000;
 font-family:'';
 src:url();
}
