.main-heading{
 font-size:140px;
 font-weight: 700;
 color:$primaryColor;
 font-family:"europa";
}
.main-largest-heading{
 font-size:100px;
 font-weight: 700;
 font-family:"europa";
}
.medium-heading{
 font-size:30px;
 font-weight: 700;
 font-family:"europa";
}
.small-heading{
 font-size:18px;
 font-weight: 400;
 font-family:"europa";
}
.main-description{
 font-size:30px;
 font-weight: 300;
 font-family:"europa";
}
.medium-description{
 font-size:18px;
 font-weight: 300;
 font-family:"europa";
}
.main-largest-description{
 font-size:30px;
 font-weight: 400;
 font-family:"europa";
}
