@import "./nav";
.about-the-studio-image {
  background-image: url("../../assets/images/bck_logotypes.png");
  background:$black;
  .topbar-wrapper-boxes {
    border-bottom: 1px solid $white;
    .inner-wrapper {
      .topbar-box {
        color:$white;
      }
      .topbar-box-social-media {
      }
    }
    .logo-bar {
      .logo-bar-image {
      }
    }
  }
  .header-description-wrapper {
    padding:75px 0 100px;
    .inner-wrapper {
      .heading-box {
        width: 50%;
        .headings {
          padding: 50px 0 50px;
          span {
            display: block;
            color:white;
          }
        }
        .header-description-text {
          .main-description {
            span {
              color:$white;
            }
          }
        }
      }
      .picture-box {
        width: 50%;
        position: relative;
        img {
          position: absolute;
          right: 0;
          bottom: -100px;
        }
      }
    }
  }
}
