@import "./nav";

.topbar-wrapper-boxes {
  height: 100px;
  margin: 0 auto;
  display: flex;
  box-sizing: border-box;
  border-bottom: 1px solid #000;
  .inner-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .topbar-box {
      width: 50%;
      .topbar-box-social-media {
        display: flex;
        justify-content: flex-end;
      }
      img {
        height: 23px;
        width: 23px;
        margin-left: 5px;
      }
    }
  }
}
.logo-bar {
  .inner-wrapper {
    display: flex;
    align-items: center;
    padding: 75px 0 25px;
    justify-content: space-between;
    .logo-bar-image {
      width: 50%;
      &:hover{
        img{
          transform: scale(.95);
        }
      }
      img {
        transition: .25s ease all;
        height: auto;
        width: 140px;
      }
    }
    .logo-bar-nav {
      a {
        color: #000;
        position: relative;
        margin-right: 20px;
        &:before{
          content: ' ';
          position: absolute;
          width: 100%;
          height: 2px;
          left:0;
          bottom: -5px;
          transition: .25s ease all;
        }
        &:hover{
          &:before{
            background-color: $primaryColor;
          }
        }
        &:last-of-type {
          margin-right: 0;
        }
      }
    }
  }
}
.header-description-wrapper {
  padding-bottom: 150px;
  border-bottom: 1px solid #000;
  .inner-wrapper {
    display: flex;
    flex-wrap: wrap;
    .header-description-box {
      width: 100%;
      justify-content: space-between;
      padding: 50px 0;
      display: flex;
      flex-wrap: wrap;
      .header-description-heading {
        width: 50%;
        &:hover {
          h1 {
            span {
              transform: translateX(25px);
              display: block;
              transition: 0.25s ease all;
            }
          }
        }
      }
      .header-description-information {
        align-self: flex-end;
        text-align: right;
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
        img {
          height: 55px;
          width: 55px;
          margin-bottom: 20px;
        }
        p {
          width: 100%;
        }
        span {
          display: block;
          margin-bottom: 3px;
          &.bold{
            font-size: 18px;
            font-weight: 700;
          }
        }
      }
    }
    .header-description-text {
      span {
        display: flex;
        flex-flow: column;
      }
    }
  }
}
