@import "./nav";

.yucky-studio-topbar-wrapper-boxes {
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  box-sizing: border-box;
  .yucky-studio-topbar-box {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    img {
      height: 16px;
      width: 16px;
      margin-left: 5px;
    }
  }
  :nth-child(1) {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    i{
     margin-right:10px;
    }
  }
}
.yucky-studio-header-main-description-wrapper {
  padding-bottom: 150px;

  .inner-wrapper {
    display: flex;
    flex-wrap: wrap;
    .yucky-studio-header-main-description-box {
      width: 50%;
      padding: 50px 0;
      display: flex;
      flex-flow: column;
      &:nth-child(2) {
        align-items: flex-end;
        justify-content: space-between;
      }
      .yucky-studio-header-main-description-logo {
        img {
          margin-bottom: 50px;
          height:auto;
          width:140px;
        }
      }
      .yucky-studio-header-main-description-heading {
        h1 {
          :hover {
            display: flex;
            justify-content: center;
          }
        }
      }
      .yucky-studio-header-main-description-navigation {
        word-spacing: 20px;
        :hover{
          border-bottom: 2px solid #29a89e;
        }
        a {
            text-decoration: none;
            color: #000;
            &:nth-child(2) {
              word-spacing: 0;
            }
          }
      }
      .yucky-studio-header-main-description-information {
        display: flex;
        align-items: flex-end;
        flex-flow: column;
        img {
          height: 55px;
          width: 55px;
          margin-bottom: 20px;
        }
        p {
          display: flex;
          flex-flow: column;
          align-items: flex-end;
        }
        span {
          margin-bottom: 3px;
          &:nth-child(2) {
            font-size: 18px;
            font-weight: 700;
          }
        }
      }
    }
    .yucky-studio-header-main-description-text {
      span {
        display: flex;
        flex-flow: column;
        margin-bottom: 8px;
        &:nth-child(3) {
          margin-bottom: 0;
        }
      }
    }
  }
}
