.title{
  .title-wrapper {
    .header-wrapper {
      border-bottom: none;
      padding-bottom: 0;
      .inner-wrapper {
        .button-box-wrapper{
          padding-top:75px;
        }
        .heading-box {
          width: 100%;
          .headings {
            padding:50px 0;
            .main-largest-heading {
              span {
                color: $black;
              }
            }
          }
          .header-text {
            .main-description {
              span {
                color: $black;
              }
            }
          }
          .wrapper-box {
            padding: 100px 0;
            display: flex;
            justify-content: space-between;
            .title-box {
              .social-media-wrapper-boxes {
                height: 250px;
                display: flex;
                flex-flow: column;
                justify-content: flex-end;
                .social-media-title {
                  margin-bottom: 20px;
                }
                .social-media-box {
                  .last-icon-social-media {
                    margin-left: 50px;
                  }
                }
              }
              .box {
                height: 150px;
                width: 480px;
                border-radius: 5px;
                border: 1px solid $black;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                .item-wrapper {
                  position: absolute;
                  left: 20px;
                  top: 20px;
                  img {
                    width: 25px;
                    height: 23px;
                  }
                }
                .social-media-title {
                  position: absolute;
                  right: 20px;
                  top: 20px;
                }
              }
              .box-large {
                height: 400px;
                width: 480px;
                padding: 80px 0;
                box-sizing: border-box;
                border-radius: 5px;
                border: 1px solid $black;
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-flow: column;
                position: relative;
                .item-wrapper {
                  position: absolute;
                  left: 20px;
                  top: 20px;
                  img {
                    width: 25px;
                    height: 28px;
                  }
                }
                .social-media-title {
                  position: absolute;
                  right: 20px;
                  top: 20px;
                }
              }
            }
          }
        }
      }
    }
  }
}
