.project-subpage-wrapper {
  .header-description-wrapper {
    border-bottom:0;
    padding-bottom: 50px;
    .inner-wrapper{
     .heading-box{
      .headings{
       span{
        color:$black;
       }
      }
     }
    }
  }
}
