.logo-bar-nav {
  ul{
    display: flex;
    li{
      margin-right: 5px;
      position: relative;
      a{
        padding: 20px 10px;
        &:after{
          position: absolute;
          content: ' ';
          overflow: hidden;
          width: 0.00%;
          height: 2px;
          background-color: $primaryColor;
          left: 50%;
          transform: translateX(-50%);
          bottom: -20px;
          transition: .25s ease all;
        }
        &:hover{
          &:after{
            width: 100%;
          }
        }
      }
    }
  }
}
.white-image{
  .logo-bar-nav{
    a{
      color:$white;
    }
  }
}
