.button-title {
  font-size: 22px;
  font-weight: 400;
  color: $white;
}
.button-wrapper {
  height: 61px;
  line-height: 61px;
  width: 190px;
  position: relative;
  overflow: hidden;
  span{
    display: block;
    height: inherit;
    text-align: center;
    border-radius: 5px;
    font-size: 22px;
    &.main {
      background: $primaryColor;
      color: $white;
    }
    &.overlay {
      transition: 0.25s ease-in-out;
      color: $primaryColor;
      background: $darkGray;
      transform: translateY(0);
    }
  }
  &:hover {
    span.overlay {
      transform: translateY(-100%);
    }
  }
}
.project-wrapper{
  .boxes-wrapper {
    .button-wrapper {
      position: absolute;
      right: 5%;
      bottom: 5%;
      z-index: 5;
      .main-button-change {
        &:hover {
          border: 1px solid $black;
        }
      }
    }
  }
}
.button-box-wrapper {
  a {
    img {
      width: 200px;
      height: 20px;
    }
  }
}
  a {
    .button-box-wrapper {
      padding: 25px 0px 25px 0px;
      &.rotated{
        padding: 25px 0px 25px 25px;
        transform: rotate(180deg);
      }
      width: 200px;
      &:hover{
        img{
          transform: translateX(-25px);
        }
      }
      img {
      transition: .25s ease all;
      width: 200px;
      height: 20px;
    }
  }
}

.bar-arrow {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  .bar-button {
    width: 30px;
    height: 30px;
    background: $primaryColor;
    position: relative;
    cursor: pointer;
    transition: $primaryTransition;
    &:hover{
      transform: scale(.95);
    }
    &::before {
      width: 0;
      height: 0;
      content: " ";
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-bottom: 12px solid $white;
      left: 9px;
      top: 9px;
      position: absolute;
    }
  }
}
