#header {
  .hamburger {
    display: none;
  }
}
.topbar-wrapper-boxes {
  height: 100px;
  margin: 0 auto;
  display: flex;
  box-sizing: border-box;
  border-bottom: 1px solid $black;
  .inner-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .topbar-box {
      width: 50%;
      .topbar-box-social-media {
        display: flex;
        justify-content: flex-end;
      }
      img {
        height: 23px;
        width: 23px;
        margin-left: 5px;
      }
    }
  }
}
.logo-bar {
  @import "nav";
  .inner-wrapper {
    display: flex;
    align-items: center;
    padding: 75px 0 25px;
    justify-content: space-between;
    .logo-bar-image {
      img {
        transform: $timeScale;
        transition: 0.25s ease-in;
        &:hover {
          transform: scale(0.95);
        }
      }
    }
  }
}
.header-wrapper {
  padding-bottom: 150px;
  border-bottom: 1px solid $black;
  .inner-wrapper {
    display: flex;
    flex-wrap: wrap;
    .header-box {
      width: 100%;
      justify-content: space-between;
      padding: 50px 0;
      display: flex;
      flex-wrap: wrap;
      .header-heading {
        width: 50%;
        .main-heading {
          span {
            display: block;
            &:first-of-type {
              transition: 0.25s ease transform;
              &:hover {
                transform: translateX(35px);
              }
            }
          }
        }
      }
      .header-information {
        align-self: flex-end;
        text-align: right;
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
        img {
          height: 55px;
          width: 55px;
          margin-bottom: 20px;
        }
        p {
          width: 100%;
        }
        span {
          display: block;
          margin-bottom: 3px;
          &.bold {
            font-size: 18px;
            font-weight: 700;
          }
        }
      }
    }
    .header-text {
      span {
        display: block;
      }
    }
  }
}


