#header {
  .hamburger {
    display: none;
  }
}
.topbar-wrapper-boxes {
  height: 100px;
  margin: 0 auto;
  display: flex;
  box-sizing: border-box;
  border-bottom: 1px solid $black;
  .inner-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .topbar-box {
      width: 50%;
      .topbar-box-social-media {
        display: flex;
        justify-content: flex-end;
      }
      img {
        height: 23px;
        width: 23px;
        margin-left: 5px;
      }
    }
  }
}
.logo-bar {
  @import "nav";
  .inner-wrapper {
    display: flex;
    align-items: center;
    padding: 75px 0 25px;
    justify-content: space-between;
    .logo-bar-image {
      img {
        transform: $timeScale;
        transition: 0.25s ease-in;
        &:hover {
          transform: scale(0.95);
        }
      }
    }
  }
}
.header-wrapper {
  padding-bottom: 150px;
  border-bottom: 1px solid $black;
  .inner-wrapper {
    display: flex;
    flex-wrap: wrap;
    .header-box {
      width: 100%;
      justify-content: space-between;
      padding: 50px 0;
      display: flex;
      flex-wrap: wrap;
      .heading {
        width: 50%;
        .main-heading {
          span {
            display: block;
            &:first-of-type {
              transition: 0.25s ease transform;
              &:hover {
                transform: translateX(35px);
              }
            }
          }
        }
      }
      .information {
        align-self: flex-end;
        text-align: right;
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
        img {
          height: 55px;
          width: 55px;
          margin-bottom: 20px;
        }
        p {
          width: 100%;
        }
        span {
          display: block;
          margin-bottom: 3px;
          &.bold {
            font-size: 18px;
            font-weight: 700;
          }
        }
      }
    }
    .text {
      span {
        display: block;
      }
    }
  }
}
@media (max-width:1439px) {
  .main-page-yucky {
    .header-wrapper {
      padding-bottom: 100px;
    }
  }
}
@media (max-width:1024px) {
  .main-page-yucky {
    .logo-bar {
      .inner-wrapper {
        padding: 50px 0 25px;
      }
    }
    .header-wrapper {
      padding-bottom: 0px;
      .inner-wrapper {
        .header-box {
          display: block;
          text-align: center;
          padding: 25px 0;
          &:nth-last-child(1) {
            padding-bottom: 75px;
          }
          .heading {
            width: 100%;
            .main-heading {
              span {
                &:nth-child(1) {
                  &:hover {
                    transform: translateX(0px);
                  }
                }
              }
            }
          }
          .information {
            display: none;
          }
        }
      }
    }
    .text {
      text-align: center;
      span {
      }
    }
  }
}
@media (max-width: 767px) {
  .main-page-yucky {
    .header-wrapper {
      padding-bottom: 0px;
      .inner-wrapper {
        width: 85%;
        .header-box {
          display: block;
          text-align: center;
          padding: 25px 0;
          &:nth-last-child(1) {
            padding-bottom: 50px;
          }
          .heading {
            .main-heading {
              font-size: 110px;
            }
          }
        }
        .text{
          .main-description{
            span{
              font-size: 28px;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 767px) {
  #header {
    border-bottom: 1px solid #000;
    .hamburger {
      display: block;
    }
    .topbar-wrapper-boxes {
      display: none;
    }
    .logo-bar {
      .logo-bar-nav {
        position: fixed;
        z-index: 500;
        transform: translateX(-200px);
        width: 200px;
        height: 100%;
        background: #000;
        left: 0;
        top: 0;
        box-sizing: border-box;
        color: #fff;
        overflow: hidden;
        transition: $primaryTransition;
        ul {
          padding: 50px 25px;
          flex-flow: column;
          li {
            margin: 0 auto 25px;
            a {
              padding: 10px 0;
              &:after {
                content: unset;
              }
            }
          }
        }
        &.active {
          transform: translateX(0px);
        }
      }
      .inner-wrapper {
        padding: 25px 0;
      }
    }
  }
}
