.header-wrapper-box {
  width: 100%;
  padding-top: 75px;
  .inner-wrapper {
    .headings {
      padding: 50px 0;
    }
    .wrapper-box {
      z-index: 5;
      .exit-button {
        width: 200px;
        height: 10px;
        left: 0;
        cursor: pointer;
        position: relative;
        a {
          .button-arrow {
            width: 200px;
            background: $primaryColor;
            height: 2px;
            &:before {
              content: " ";
              position: absolute;
              left: 0;
              top: -5px;
              border: 2px solid $primaryColor;
              border-bottom: 0;
              border-right: 0;
              height: 10px;
              width: 10px;
              transform: rotate(-45deg);
            }
          }
        }
      }
    }
  }
}
@media (max-width:1024px){
  .header-wrapper-box{
    .inner-wrapper{
      .headings{
        text-align: center;
      }
      .wrapper-box{
        .exit-button{
          display:none;
        }
      }
      .text-information{
        text-align: center;
      }
    }
  }
}
@media (max-width:560px){
  .header-wrapper-box{
    .inner-wrapper{
      .headings{
        .main-largest-heading{
          font-size: 80px;
        }
      }
    }
  }
}
@media (max-width:450px){
  .header-wrapper-box{
    .inner-wrapper{
      .headings{
        .main-largest-heading{
          font-size: 60px;
        }
      }
    }
  }
}
